<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.mall.prj.mapper.SalesMapper">


<select id="salesSelectList" resultType="co.mall.prj.sales.service.SalesVO"> 

	select * from sales
	
</select>

<select id="ajaxMemberStat" resultType="co.mall.prj.sales.service.SalesVO"> 

	select * from sales where member_id = #{memberId}
	
	
</select>

<insert id="insertOrder" parameterType="co.mall.prj.sales.service.SalesVO">

	INSERT INTO SALES(SALES_ID,MEMBER_ID) 
	VALUES(#{salesId},#{memberId})

</insert>





</mapper>